
<!DOCTYPE html>

<head>
    <title>HOLISTIC CENTER</title>
    <!--<link rel="icon" href="{{url_for('static', filename='#')}}" type="image/x-icon" />CREARE APP ROUTE APPOSITA-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />
    <meta http-equiv="refresh" content="#">
</head>

<body>
    <div class="banner">
        <p>hello world</p>
    </div>

    <div class="pannello">

        {% for acquistati in acquistati %}
        <div>
            <p><strong>Corso: </strong>{{ acquistati[5] }} <strong>Quantita': </strong>{{acquistati[3]}} <strong>Prezzo: </strong>{{acquistati[4]}}</p><a href="{{"
        </div>
        {% endfor %}
        <p><strong>Subtotale: {{tot}}</strong></p>

        <form action="{{ url_for('carrello') }}" method="post" class="pannello2">
            <img src="#" class="little" /><br>
            <button type="submit">Inserisci nel carrello</button><br />
        </form>


    </div>
</body>