<!DOCTYPE html>

<head>
    <title>HOLISTIC CENTER</title>
    <!--<link rel="icon" href="{{url_for('static', filename='#')}}" type="image/x-icon" />CREARE APP ROUTE APPOSITA-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />
    <meta http-equiv="refresh" content="#">
</head>

<body>
    <div class="banner">

    </div>

    <div class="pannello">
        <form action="{{ url_for('accesso') }}" method="post" class="login">
            <img src="#" class="little" /><br>
            <label for="login1" class="etichette"><b>nome utente</b><input type="text" name="user" class="credenziali1" maxlength="255"></label><br>
            <label for="login2" class="etichette"><b>Password</b><input type="password" name="pass" class="credenziali1" maxlength="255"></label><br>
            <button type="submit">Login</button><br />
            <p>Vuoi l'aiuto di Salamandra?</p><a href="{{ url_for('crea_utente') }}" class="links">Registrati</a>
        </form>
    </div>
</body>

