<!DOCTYPE html>

<head>
    <title>HOLISTIC CENTER</title>
    <!--<link rel="icon" href="{{url_for('static', filename='#')}}" type="image/x-icon" />CREARE APP ROUTE APPOSITA-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />
    <meta http-equiv="refresh" content="2">
</head>

<body>
    <header class="banner">
        <a href="{{url_for('index')}}" class="link"><img src="{{url_for('static', filename='logo intero.png')}}" alt="Logo1" class="img" /></a>
        <a href="{{url_for('landing')}}" class="link">CORSI</a>
        <!--FARE FUNZIONE E VALORE IN DB PER PREFERITI--><a href="{{url_for('landing')}}" class="link"><img src="{{url_for('static', filename='preferito selezionato.png')}}" alt="preferiti" class="img2" /></a>
        <a href="{{url_for('carrello')}}" class="link"><img src="{{url_for('static', filename='cart in corso.png')}}" alt="carrello" class="img2" /> <!--var jinja con tot preferiti--></a>
        <a href="{{url_for('accesso')}}" class="link">LOGIN</a>
        <a href="{{url_for('pag_registrazione')}}" class="link">+ SIGN UP</a>
    </header>

    <h2 class="header_L1">CORSI DISPONIBILI</h2>
    <div class="vetrina">
        <!--cambiare da lista a div per disporre gli elementi al meglio-->
        {% for cors in corso_singolo %}
        <div class="prodotto">
            <div class="tit_prod"><strong>{{ cors[1] }}</strong></div>
            <div class="prez_prod"><p>PREZZO: </p><strong>{{ cors[3] }} </strong></div>
            <div class="mod_prd"><p>MODALITA': </p>{{ cors[2] }}</div>
            <div class="quanti"><p>DISPONIBILITA': </p>{{ cors[4] }}</div>
            <div class="descr"><p>DESCRRIZIONE: </p>{{ cors[5] }}</div>
            <img src="{{ cors[6] }}" class="immag" />
            <a href="{{url_for('panoramica', id_corso=cors[0])}}">DETTAGLI</a>
        </div>
        {% endfor %}
        

    </div>
</body>