<!DOCTYPE html>

<head>
    <title>HOLISTIC CENTER</title>
    <!--<link rel="icon" href="{{url_for('static', filename='#')}}" type="image/x-icon" />CREARE APP ROUTE APPOSITA-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />
    <meta http-equiv="refresh" content="#">
</head>

<body>
    <div class="banner">
        <p>hello world</p>
    </div>

    <h2 class="header_L1">CORSI DISPONIBILI</h2>
    <div class="vetrina">
        <!--cambiare da lista a div per disporre gli elementi al meglio-->
        <ul>
            {% for cors in corso_singolo %}
            <li>
                <strong>{{ cors[1] }}</strong>
                <strong>{{ cors[3] }}</strong>
                {{ cors[2] }}
                {{ cors[4] }}
                {{ cors[5] }}
                <a href="{{url_for('no')}}">DETTAGLI</a>
            </li>
            {% endfor %}
        </ul>

    </div>
</body>