<!DOCTYPE html>

<head>
    <title>HOLISTIC CENTER</title>
    <!--<link rel="icon" href="{{url_for('static', filename='#')}}" type="image/x-icon" />CREARE APP ROUTE APPOSITA-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />
    <meta http-equiv="refresh" content="#">
</head>

<body>
    <div class="banner">
        <p>hello world</p>
    </div>

    <h2 class="header_L1">CORSI DISPONIBILI</h2>
    <div class="vetrina">
        <!--cambiare da lista a div per disporre gli elementi al meglio-->
        {% for cors in corso_singolo %}
        <div class="prodotto">
            <div class="tit_prod"><strong>{{ cors[1] }}</strong></div>
            <div class="prez_prod"><p>PREZZO: </p><strong>{{ cors[3] }}</strong></div>
            <div class="mod_prd"><p>MODALITA': </p>{{ cors[2] }}</div>
            <div class="quanti"><p>DISPONIBILITA': </p>{{ cors[4] }}</div>
            <div class="descr"><p>DESCRRIZIONE: </p>{{ cors[5] }}</div>
            <img src="{{ cors[6] }}" class="immag" />
            <a href="{{url_for('panoramica', id_corso=cors[0])}}">DETTAGLI</a>
        </div>
        {% endfor %}
        

    </div>
</body>