<!DOCTYPE html>

<head>
    <title>HOLISTIC CENTER</title>
    <!--<link rel="icon" href="{{url_for('static', filename='#')}}" type="image/x-icon" />CREARE APP ROUTE APPOSITA-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />
    <meta http-equiv="refresh" content="#">
</head>

<body>
    <div class="banner">
        <a href="{{url_for('index')}}"><img src="#" /></a>
        <a href="{{url_for('landing')}}">CORSI</a>
        <a href="{{url_for('landing')}}">ACQUISTA</a>
        <a href="{{url_for('carrello')}}"><img src="#" /> <!--var jinja con tot preferiti--></a>
        <a href="{{url_for('carrello')}}"><img src="#" /> <!--var jinja con tot carrello--></a>
        <a href="{{url_for('pag_login')}}">O LOGIN </a>
        <a href="{{url_for('pag_registrazione')}}">+ SIGN UP</a>
    </div>

   <h2 style="color:black;">{{corso[1]}}</h2>

    <div>
        <img src="{{ corso[6] }}" class="immag"/>
        <p>{{ corso[5] }}</p>

    </div>
    
    <div>
        
        <form action={{url_for('carrello', id_corso=corso[0])}} method="post">
            <input type="number" name="quanti" />
            <button type="submit">Inserisci nel carrello</button>
        </form>
        
    </div>
    

</body>
