

.banner {
    width: 100%;
    height: 10%;
    background-color: #778a43;
}

.login
{
    margin:auto;
}

.vetrina
{
    color:black;
    display:block;
}

.prodotto
{
    padding:4%;
}

.immag
{
   width:33.3%;
    
}